<h1 class="title">ember-autolinker</h1>

<table class="example">
  <thead>
    <tr>
      <th>Input</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <label>
          {{input type='checkbox' checked=ignoreEscape}}
          Disable HTML escaping
        </label>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>{{textarea value=value}}</td>
      <td>{{autolink value ignoreEscape}}</td>
    </tr>
  </tbody>
</table>
